.title {
  text-align: center;
  font-weight: bold;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#level-text {
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;

}

.top {
  flex-direction: column;
  display: flex;
}

#level-text ul {
  list-style: none;
  padding: 0;
}

.column {
  flex-direction: column;
}

.completed-fieldSize {
  color: green;
}
