
<div class="title">
  <h1> <strong> Chessboard Game </strong></h1>
</div>

<app-level></app-level>

  <br>
@if (!svc.isRunning()){
  <button mat-raised-button color="primary" (click)="svc.startGame()">start</button>
}

@if(svc.isRunning()) {
  <app-chessboard-container></app-chessboard-container>

  <br>
  <app-chessboard-color></app-chessboard-color>
  <br>

  @if (svc.isRunning()) {
    duration: {{ svc.duration() }}
    clickCount: {{ svc.clickCount() }}
    <br>
    <button mat-raised-button color="primary" (click)="svc.validateGame()">Check</button>
  }
}


