<h2>Level: {{ svc.selectedLevel()}}</h2>

<div
  [style.height]="svc.boxSize() + 20 + 'px'">
  @for (fields of this.svc.fields(); track fields) {
    <div class="level-box"
         [style.width]="svc.boxSize() + 'px'"
         [style.height]="svc.boxSize() + 'px'"
         [style.background-color]="svc.completedSizes().includes(fields) || fields === svc.selectedFields() ? (svc.completedSizes().includes(fields) ? 'green' : 'blue') : ''">
      {{ fields }}
    </div>
  }
</div>
