div {
  border: black 1px solid;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.level-box {
  background-color: darkgray;
  margin-left: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

