<div class="flex-row">
  <div class="flex-col">
    <h2>Game</h2>
    <app-chessboard type="game"></app-chessboard>
  </div>
  <div class="flex-col">
    <h2>Vorlage</h2>
    <app-chessboard type="template"></app-chessboard>
  </div>
</div>

