<div [style.width]="(svc.boxSize() + 2) * svc.selectedFields() + 'px'">
  @for (color of this.svc.templateArray; track color; let index = $index) {
    <app-chessboard-field [id]="index" [type]="type"></app-chessboard-field>
  }
</div>
